<div class="container">
<!-- the below question form needs work -->
  <form action="/questions" method="post">
    <label for="question">Question:</label>
    <input type="text" name="user[username]">

    <label for="body">Body:</label>
    <input type="text" name="user[email]">

    <input class="waves-effect waves-teal btn-flat" type="submit" value="Post new question">
  </form>
</div>

<div class="container">
  <% if @questions %>
    <ul>
    <% @questions.each do |question| %>
      <li><a href="/questions/<%=question.id%>"><%= question.title %></a></li>
    <% end %>
    </ul>
  <% end %>
</div>