<div class="container">

<% if logged_in? %>
<p><a href="/questions/new">Post a new question here!</a></p>
<% end %>
</div>

<div class="container collection">
  <% if @questions %>
    <ul>
    <% @questions.each do |question| %>
      <li><a class="collection-item" href="/questions/<%=question.id%>"><span class="badge">4 Votes</span><span class="badge">4 Answer(s)</span><%= question.title %></a></li>
    <% end %>
    </ul>
  <% end %>
</div>
