<div class="container">
  
  <form action="/questions" method="post">
    <label for="question">Question:</label>
    <input type="text" name="question">

    <label for="body">Description:</label>
    <input type="text" name="body">

    <input class="waves-effect waves-teal btn-flat" type="submit" value="Post new question">
  </form>
  
</div>