<div class="container">
    <form action="/sessions" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">

    <label for="password_hashed">Password:</label>
    <input type="password" name="password">

    <input class="waves-effect waves-teal btn-flat" type="submit" value="Log In">
  </form>
</div>