.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

.show {
	display: none;
}

.showanswer {
	display: none;
}

#logout input {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
}
