<div class="container">
  <form action="/users" method="post">
    <label for="username">Username:</label>
    <input type="text" name="user[username]">

    <label for="email">Email:</label>
    <input type="text" name="user[email]">

    <label for="password_hashed">Password:</label>
    <input type="password" name="user[password]">

    <input class="waves-effect waves-teal btn-flat" type="submit" value="Register">
  </form>
</div>
