<div class='container'>
  <h3> New Answer </h3>
  <form action='/questions/<%= @question.id %>/answers' method='post'>
    <textarea rows='4' cols='50' name='body'>Enter answer here...</textarea>
  </form>
</div>
