<form class="up-vote" action="/votes" method="post">
  <input type="hidden" name="voteable_type" value="<%= @voteable.class.to_s %>">
  <input type="hidden" name="voteable_id" value="<%= @voteable.id %>">
  <input type="submit" value="+1">
</form>
