<form class="up-vote" action="/<%= @voteable.class.to_s %>/<%= @voteable.id %>/votes" method="post">
  <input type="hidden" name="voteable_type" value="Question">
  <input type="hidden" name="name" value="">
  <input type="submit" value="+1">
</form>
